
.wbscene-loading, .wbsceneselect-loading {
	background:#FFF url('../../images/loading.gif') 50% center no-repeat; opacity: 0.8; 
	color:#339933; width:95%; height:90%; text-align:center; position:absolute;font-weight:bold; font-size:16px; z-index:999; display:inline; float:left;
}
.wbscene-complete, .wbsceneselect-complete {
	background:#FFF; opacity: 1.0; 
	color:#339933; width:95%; height:90%; text-align:center; position:absolute;font-weight:bold; font-size:16px; z-index:999; display:inline; float:left;
}
.wbscene-contents, .wbsceneselect-contents {
	background:#FFF; opacity: 1.0; 
	color:#000000; text-align:left; position:absolute;font-weight:normal; font-size:13px; z-index:999; display:inline; float:left;
}
.wbscene-error, .wbsceneselect-error {
	background:#FFF; opacity: 1.0; 
	color:#AA1111; width:95%; height:90%; text-align:center; position:absolute;font-weight:bold; font-size:16px; z-index:999; display:inline; float:left;
}
.wbscene-disabled, .wbsceneselect-disabled {
	pointer-events:none; opacity:0.5;
}

